.popular__posts {
  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid $color-yellow;
  }

  &__img {
    height: 4rem;
    margin-right: 1rem;
  }

  &__author {
    font-size: 10px;
  }

  &__link {
    color: $color-navy;
  }
  &__link:hover {
    color: $color-yellow;
    text-decoration: none;
  }
}

.article {
  display: flex;
  flex-direction: row;
  margin: 2rem 1.5rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid $color-gray;

  &__heading {
    font-size: 1rem;
    font-family: 'Staatliches', cursive;
    text-align: left;
  }
}
