.section__post__heading {
  text-align: center;
  margin-bottom: 2rem;
}

.section__post {
  transition: all 0.4s ease-in-out;
  animation-iteration-count: 1;
  position: relative;
}

.section__post:hover {
  transform: translateY(-5px);
}

.section__post h5 {
  color: $color-yellow;
  text-transform: uppercase;
}
.card-columns .card {
  -webkit-box-shadow: 0px 7px 26px -4px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 7px 26px -4px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 7px 26px -4px rgba(0, 0, 0, 0.34);
}

.post__link {
  text-decoration: none;
  cursor: pointer;
  color: $color-black;
}

.post__link:hover {
  text-decoration: none;
  color: $color-black;
}

.quote {
  background-color: $color-yellow;
}
