.about {
  &__content {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__copy {
    text-align: left;
    line-height: 1.8rem;
    letter-spacing: 1px;
  }

  &__stats {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
  }

  &__stats__staff {
    margin-right: 2rem;
  }
  &__stats__founded {
    margin-right: 2rem;
  }
}

.find__us {
  width: 90%;
  margin: auto;
}
