.post {
  &__heading {
    text-align: center;
  }

  &__img__container {
    width: 20rem;
  }
  &__banner__img {
    width: 20rem;
  }

  &__heading__container {
    margin-bottom: 2rem;
  }

  .subhead::first-letter {
    initial-letter: 2p;
  }
}
