.post {
  &__lead__intro {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 12px;
  }

  &__img__container {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  &__img {
    width: 20rem;
  }

  &__video {
    width: 100%;
  }
}

.vid {
  width: 100%;
}
