.post {
  &__details {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__date {
    font-size: 10px;
    margin-right: 1.5rem;
  }

  &__cat {
    font-size: 10px;
    text-transform: uppercase;
    font-family: 'Staatliches', cursive;
  }

  &__lead__intro {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1rem;
  }

  &__copy {
    color: $color-navy;
  }

  &__img__container {
    margin: 2rem auto;
  }

  &__banner__img {
    width: 100%;
    height: auto;
  }

  &__video {
    width: 100%;
  }
}

.vid {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
